@charset "UTF-8";

/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 24px;
    color: #DDA755;
    margin-left: 20px;
    margin-bottom: 0;
}

h2 {
    font-size: 42px;
    color: #3E5FC1;
    padding: 0;
}

h3 {
    font-size: 24px;
    color: #3C3C3C;
}

h4 {
    font-size: 18px;
    color: #f2c581;
}

a {
    color: #3E5FC1;
    text-decoration: none;
}

a:hover {
    color: #DDA755;
    font-weight: bold;
}

/* Header e Navbar */
div.container-fluid {
    padding: 0;
}

header {
    background-color: #4B5F9B;
    width: auto;
    height: 60px;
    margin-top: 0;
}

nav.navbar {
    position: relative;
    top: 0;
}

div#navbar-links {
    display: flex;
    height: auto;
    background-color: #4B5F9B;
}

div#navbar-links a {
    color: #FFFFFF
}

div#navbar-links a:hover {
    font-weight: bold;
    color: #DDA755;
}

div.navbar-nav {
    margin-right: 20px;
}

/* Banner */
div#home-banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
}

div#banner-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 900px;
}

div #nome-cargo {
    width:65%;
}

div#foto {
    margin-right: 10px;
}

div#foto img {
    border-radius: 200px;
    position: relative;
    width: 80%;
    height: auto;
}

/* Cards */
div#cards {
    background-color: #DDA755;
    color: #3C3C3C;
    height: 400px;
    padding-top: 30px;
}

div#cards-row {
    align-items: center;
    justify-content: space-evenly;

}

div.card-header {
    margin-top: 20px;
    margin-bottom: 10px;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    
}

div#dados-pessoais, div#endereco, div#idiomas {
    height: 250px;
    width: 300px;
    border: solid 2px #3E5FC1;
    margin-top: 50px;
    margin-right: 20px;
}

div#dados-pessoais i, div#endereco i, div#idiomas i {
    font-size: 32px;
    color:#4B5F9B;
    padding-top: 20px;
    padding-left: 10px;
}

div#dados-pessoais h3, div#endereco h3, div#idiomas h3 {
    font-size: 24px;
    font-weight: 900;
    color: #4B5F9B;
    padding-top: 8px;
    padding-left: 10px;
    vertical-align: middle;
}

div#dados-pessoais p, div#endereco p, div#idiomas p {
    margin-top: 10px;
    padding-left: 10px;
    justify-content: center;
    align-self: auto;
}

table.table-bordered {
    border-color: #4B5F9B;
}

thead#table-head {
    background-color: #f2c581;
    color: #3C3C3C;
}

tbody#table-body {
    background-color: #DDA755;
    color: #3C3C3C;
}

/* Formação Acadêmica */
div#formacao {
    display: flex;
    padding-top: 30px;
    height: 500px;
}

h2.titulo-secao-start {
    color: #DDA755;
    font-size: 36px;
    margin-bottom: 20px;
}

div#formacao-start, div#formacao-end {
    display: flex;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 50px;
}

/* Cursos Realizados */
div#cursos {
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #4B5F9B;
    color: #FFFFFF;
}

h2.titulo-secao-end {
    text-align: end;
    color: #FFFFFF;
    font-size: 36px;
    margin-bottom: 20px;
}

div#cursos-start div#cursos-middle div#cursos-end {
    display: flex;
    padding-top: 30px;
    padding-left: 50px;
}

/* Portfolio */
div#slider-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

div#portfolio h2 {
    color: #DDA755;
    font-size: 36px;
    margin-bottom: 20px;
}

button.carousel-control-prev i, button.carousel-control-next i {
    font-size: 42px;
    color: #3E5FC1;
}

/* Experiência Profissional */
div#experiencia {
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #4B5F9B;
    color: #FFFFFF;
}

div#experiencia-start {
    padding-top: 30px;
    padding-left: 50px;
}

div#experiencia-end {
    padding-top: 30px;
    padding-left: 50px;
}

div#experiencia-start p, div#experiencia-end p {
    margin-bottom: 50px;
}

/* Contato */
div#contato {
    display: flex;
    height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

div#formulario {
    height: auto;
    width: auto;
}

div#fNome, div#fMail, div#fMsg, div#fBtn {
    margin-top: 10px;
    width: 600px;
}

button#cEnviar {
    padding: 5px;
    background-color: #4B5F9B;
    color: #FFFFFF;
}

button#cEnviar:hover {
    background-color: #3E5FC1;
    color: #f2c581;
}

/* Footer */
div#footer {
    background-color: #DDA755;
    color: #3C3C3C;
    height: 400px;
    display: flex;
    padding-top: 30px;
}

div#footer-row {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

div#social-media {
    display: flex;
    width: 600px;
}

div#social-media i {
    font-size: 32px;
    color:#4B5F9B;
    padding-top: 20px;
    padding-left: 10px;
    justify-items: center;
}

div.conteudo-final {
    width: 600px;
    justify-items: center;
}

div#scipt-acesso {
    width: auto;
    justify-items: center;
}

p#script-cv {
    clear: both;
    height: 20px;
    margin: 30px 0px 10px 0px;
    text-align: center;
}

/* Mobile */
@media(max-width: 960px) {

    h2.titulo-secao-start, h2.titulo-secao-end {
        font-size: 28px;
    }
    
    p {
        font-size: 15px;
    }

    #foto img {
        width: auto;
    }



    div#cards, div#formacao {
        display: flex;
        height: auto;
        flex-direction: column;
    }

    div#cards-row, div#formacao-dados {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 50px;
        align-content: stretch;
    }

    div#formacao-start, div#formacao-end {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        align-self: flex-start;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 0;
        padding-top: 0;
    }

    div#cursos-start, div#cursos-middle, div#cursos-end {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        align-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 0;
        padding-top: 0;
    }

    div#experiencia-start, div#experiencia-end {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        align-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 0;
        padding-bottom: 0;

    }

    div#formulario {
        display: flex;
        width: auto;
        height: auto;
    }

    div#fNome, div#fMail, div#fMsg, div#fBtn {
        margin-top: 10px;
        width: auto;
    }

    footer {
        display: flex;
        height: auto;
    }

    div#footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    div#footer-row {
        display: flex;
        width: auto;
    }

    div#social-media, div.conteudo-final {
        width: auto;
        align-self: center;
    }

    div#script-acesso {
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 20px;
        height: auto;
    }

    p#script-cv {
        margin-top: 5px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}

@media(max-width: 680px) {

    div#home-banner {
        display: flex;
        height: auto;
        margin-top: auto;
        padding-top: auto;
        flex-direction: column;
    }
    div.navbar {
        text-align: end;
    }
    
    div#banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: auto;
    }

    #nome-cargo {
        width: 70%;;
        text-align: center;
    }

    #formacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: auto;
    }

    #formulario {
        display: flex;
        height: auto;
    }

}