/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 24px;
    color: #DDA755;
    margin-left: 20px;
    margin-bottom: 0;
}

h2 {
    font-size: 48px;
    color: #3E5FC1;
    padding: 0;
}

h3 {
    font-size: 24px;
    color: #3C3C3C;
}

/* Header e Navbar */
header {
    background-color: #4B5F9B;
    width: auto;
    height: 60px;
    margin-top: 0;
    border: 2px solid #E06B17;
}

#nav-container {
    display: flex;
    border: 2px solid #4F8785;
    height: auto;
}

#nav-container a {
    color: #FFFFFF;
}

#nav-container a:hover {
    font-weight: bold;
    color: #DDA755;
}

.navbar {
    border: 2px solid #FF0000;
    posiiton: fixed;
    top: 0;
}
#navbar-links {
    border: 2px solid #BE229C;
}
.navbar-nav {
    margin-right: 20px;
}

/* Banner */
#home-banner {
    height: 400px;
}

#nome-cargo {

}

#foto img {
    border-radius: 200px;
    margin-left: 900px;
}

/* Mini-Banners */
#mini-banners {
    background-color: #4B5F9B;
    color: #FFFFFF;
}

/* Formação Acadêmica */
#formacao {

}

/* Cursos Realizados */


/* Experiência Profissional */


/* Contato */


/* Mobile */
@media(max-width: 720px) {

    .container-flex {
        flex-direction: column;
    }

    #home-banner {
        flex-direction: column-reverse;
    }

    #home-banner img {
        max-width: 150px;
    }
}